
*.log

target/

notes.txt

desktop-app/src/main/resources/application.properties
backend/src/main/resources/application.properties

application-local.properties
application-local.yml
*.env
.env

.project

.settings/org.eclipse.core.resources.prefs

backend/.classpath

backend/.settings/org.eclipse.core.resources.prefs

backend/.settings/org.eclipse.jdt.core.prefs

core/.classpath

core/.settings/org.eclipse.core.resources.prefs

core/.settings/org.eclipse.jdt.core.prefs

desktop-app/.classpath

desktop-app/.settings/org.eclipse.core.resources.prefs

desktop-app/.settings/org.eclipse.jdt.core.prefs

model/.classpath

model/.settings/org.eclipse.core.resources.prefs

model/.settings/org.eclipse.jdt.core.prefs
